<div class="root-container"
     [style.width]="width()"
     tabindex="1" #main>
  <div class="selection" tabindex="1">
    @if (selection()){
      <div class="selection-item"> {{ selection()?.name }} </div>
    } @else {
      <div class="selection-placeholder">{{ placeholder() }}</div>
    }
    <i class="bi bi-chevron-down"></i>
  </div>
  <div class="list">
    <div class="list-title">{{ placeholder() }}</div>
    @for (i of items();track $index){
      <div (click)="select(i)"
           [ngClass]="{'selected':i == selection()}"
           class="option selected" >{{ i.name }}</div>
    } @empty {
      <div class="option empty">No Items </div>
    }
  </div>
</div>
