<div class="root-container">
    <form>
        <label>
            <div>Project name / title </div>
            <input type="text" name="" id="">
        </label>
        <label>
            <div>PO Date Received</div>
            <input type="date" name="" id="">
        </label>
      <label>
        <div>Customer PO Ref# / NOA / NTP</div>
        <input type="text">
      </label>
      <label>
        <div>Client PO Amount</div>
        <input type="text">
      </label>
      <label>
        <div>Quotation Ref No.</div>
        <input type="text">
      </label>
      <label>
        <div>Advance PR (Expected date of release)</div>
        <input type="date">
      </label>
      <label>
        <div>After Sales Date Projected</div>
        <input type="date">
      </label>
      <label>
        <div>Commited # of days for inspection(ps)</div>
        <input type="date">
      </label>
    </form>
    <div class="d-flex justify-content-between my-2">
      <button-component text="Back"/>
      <button-component text="Next" type="primary"/>
    </div>
</div>
