<div class="root-container d-flex flex-row">
    <div class="group">
        <div class="group-title">Where will the budget be allocated?</div>
        <div class="d-flex flex-column">
            <label>
                <div>Region:</div>
                <select>
                    <option>NCR</option>
                    <option>CAR</option>
                    <option>Region I</option>
                </select>
            </label>
            <label>
                <div>Name of Institution/ Industry: </div>
                <input type="text" name="" id="" maxlength="30">
            </label>
            <label>
                <div>Exact Address</div>
                <textarea rows="10" cols="50"></textarea>
            </label>
        </div>
    </div>
</div>
