<div class="root-container">
  <div class="text-end my-2">
    <button-component routerLink="/fae/purchase-orders/create" text="Create Purchase Requesition" type="primary" />
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Client</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Date Created</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
