<div class="root-container">
  <page-title text="List of Schools/Companies" bi_icon="bi-building-fill"  />
  <div class="d-flex flex-row">
    <search-component (onSearch)="query.set($event)"
                      (onChange)="page.set(1)"
                      width="322px"
                      placeholder="Search School or Company Name"/>
    <dropdown [(value)]="filter" (onChange)="page.set(1)" [items]="filter_types" placeholder="Filter by"  width="200px"/>
    <dropdown [(value)]="sort"   (onChange)="page.set(1)" [items]="sort_types"   placeholder="Sort By" width="200px"  />
    <div style="flex:1;"></div>
    <button-component text="Add" (click)="editor.add()" type="primary" bi_icon="bi-plus-lg" />
  </div>
  @if (query()) {
    <div class="message">
      <span class="count">{{ items_filtered().length }}</span>Items found.
      <span> Search Results for "{{ query() }}". </span>
      <span  (click)="query.set('');page.set(1)" class="clear-search"> Clear </span>
    </div>
  }
  <div class="table-wrapper my-2">
    <table style="width: 100%;">
      <thead>
      <tr>
        <th>School/Company Name</th>
        <th>Address</th>
        <th>Category</th>
        <th>Date Added</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @if (loading){
          <tr>
            <td colspan="5"><div class="text-center m-3"><loader-bouncing-balls/></div> </td>
          </tr>
        }
        @if (!loading) {
          @for (i of items_filtered() | slice: (page()-1)*10: page() * 10;track i.uuid){
            <tr>
              <td><a class="link" >{{ i.name }}</a></td>
              <td>{{ i.address }}</td>
              <td>{{ i.category | titlecase }}</td>
              <td>{{ i.created_at | date: 'shortDate' }}</td>
              <td class="row-controls">
                <i class="bi bi-pencil-square" (click)="editor.edit(i)"></i>
                <i class="bi bi-trash" (click)="confirmDelete(i)"></i>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="5"><div class="text-center">No items</div></td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
  <div class="text-center"><paginator [itemCount]="items_count" [pageSize]="10" /></div>
  <client-editor #editor
                 (onCreate)="apiFetch()"
                 (onUpdate)="apiFetch()"/>
</div>

