.root-container{
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #212121;
}

a.item{
  padding: 10px 15px;
  box-sizing: border-box;
  color:#FFF;
  text-decoration: none;
}