<div class="root-container">
  <page-title text="Users" bi_icon="bi-people"/>
  <div class="d-flex flex-row align-items-end">
      <label>
          <div>Search</div>
          <input type="search"
                 placeholder="Search by name or email"
                 [(ngModel)]="query"
                 style="width: 400px;"
                 maxlength="50"/>
      </label>
      <label>
          <div>Sort</div>
          <select [(ngModel)]="sort">
              <option value="email_asc">Email(A-Z)</option>
              <option value="email_desc">Email(Z-A)</option>
              <option value="name_asc">Name(A-Z)</option>
              <option value="name_desc">Name(Z-A)</option>
              <option value="date_asc">Newest first</option>
              <option value="date_desc">Oldest first</option>
          </select>
      </label>
      <div style="flex: 1;"></div>
      <button-component text="Add User"
                        bi_icon="bi-plus-lg"
                        (click)="add_user.open()"
                        type="primary"/>
  </div>
  <div class="table-wrapper my-3" >
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Role</th>
          <th>Created at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      @if (accounts_resource.isLoading()){
          <tr>
              <td colspan="5" class="text-center"> <loader-bouncing-balls/> </td>
          </tr>
      }
      @else{
          @for (i of accounts_resource.value()?.items;track $index){
              <tr>
                  <td>{{ i.email }}</td>
                  <td>{{i.firstname | titlecase}} {{ i.lastname | titlecase }}</td>
                  <td>{{ i.role?.title }}</td>
                  <td>{{ i.created_at | date: 'shortDate' }}</td>
                  <td><i class="bi bi-archive"></i></td>
              </tr>
          } @empty {
              <tr><td colspan="5" class="text-center">No records found</td></tr>
          }
      }
      </tbody>
    </table>
  </div>
  <paginator [itemCount]="accounts_resource.value()?.count??0"
             [pageSize]="20"
             [(currentPage)]="current_page" />
  <add-user #add_user (addUser)="onAdd($event)"/>
</div>
