<div class="root-container">
  <page-title text="Users" bi_icon="bi-people"/>
  <div class="d-flex flex-row justify-content-end">
      <button-component text="Add User"
                        bi_icon="bi-plus-lg"
                        (click)="add_user.open()"
                        type="primary"/>
  </div>
  <div class="table-wrapper my-3" >
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      @if (accounts_resource.isLoading()){
          <tr>
              <td colspan="3" class="text-center"> <loader-bouncing-balls/> </td>
          </tr>
      }
      @else{
          @for (i of accounts_resource.value();track $index){
              <tr>
                  <td colspan="3" class="text-center">No records found</td>
              </tr>
          } @empty {
              <tr><td colspan="3" class="text-center">No records found</td></tr>
          }
      }
      </tbody>
    </table>
  </div>
  <add-user #add_user (addUser)="onAdd($event)"/>
</div>
