<div class="root-container">
  <page-title text="Users" bi_icon="bi-people"/>
  <div class="d-flex flex-row justify-content-end">
      <button-component text="Add User"
                        bi_icon="bi-plus-lg"
                        type="primary"/>
  </div>
  <div class="table-wrapper my-3" >
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3" class="text-center">No records found</td>
        </tr>
      </tbody>
    </table>
  </div>
  <add-user/>
</div>
