<div class="root-container ">
    <div class="group">
        <div class="group-title">Required Files</div>
        <ul>
            <li>Itinerary / Run sheet</li>
            <li>Course Outline</li>
            <li>List of Participants</li>
            <li>Contingency Computation</li>
            <li>Charging PO or Quotation Reference</li>
            <li>Letter Request from Client</li>
        </ul>
    </div>
    <div class="group">
        <div class="group-title">Files</div>
        <div class="drop-section">
            <div>Drop files here</div>
            <div>(jpg jpeg png bmp pdf xls xlsx doc docx )</div>
            <button-component text="Add Files" type="primary"/>
        </div>
        <div class="list">
            <table>
                <thead>
                    <tr>
                        <td>File</td>
                        <td>Type</td>
                        <td>Requirement</td>
                        <td>Status</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>filename</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td class="text-end">
                            <i class="bi bi-trash3-fill"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
