<div class="root-container ">
    <div class="group">
        <div class="group-title">Required Files</div>
        <ul>
            <li>Itinerary / Run sheet</li>
            <li>Course Outline</li>
            <li>List of Participants</li>
            <li>Contingency Computation</li>
            <li>Charging PO or Quotation Reference</li>
            <li>Letter Request from Client</li>
        </ul>
    </div>
    <div class="group">
        <div class="group-title">Files</div>
        <div class="drop-section">
            <div>Drop files here</div>
            <div>(jpg jpeg png bmp pdf xls xlsx doc docx )</div>
            <button-component text="Add Files" type="primary"/>
        </div>
        <div class="list">

        </div>
    </div>
</div>
