
<dialog #basicdialog >
   <div class="header">
    <h3 style="font-size: 20px;">{{ isEdit ? 'Edit' : 'Add' }} School/Company</h3>
    <i class="bi bi-x-lg close-button" (click)="onDismiss()"></i>
   </div>
   <form style="padding: 15px;">
    <div class="form-group">
      <label for="exampleInputEmail1">Category</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select School/Company</option>
        <option value="1">School</option>
        <option value="2">Company</option>

      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Address</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Address">
      </div>
  </form>
    <div class="d-flex justify-content-end">
        <button-component text="save" type="primary" />
    </div>
</dialog>

<dialog #confirmDialog class="confirm-dialog">
    <div class="confirm-content">
      <h4 class="mb-4">Confirm Action</h4>
      <p>
        Are you sure you want to 
        <span class="text-danger">delete</span> 
        this information?
      </p>
      <div class="button-row">
        <button class="btn cancel" (click)="onCancel()">No</button>
        <button class="btn delete" (click)="onConfirm()">Yes</button>
      </div>
    </div>
  </dialog>
  <dialog #successDialog class="success-dialog">
    <div class="success-content">
      <div class="check-icon">
        <i class="bi bi-check-circle-fill"></i>
      </div>
      <p>You have successfully<br />deleted the information.</p>
      <button class="btn okay" (click)="closeSuccess()">Okay</button>
    </div>
  </dialog>
  
  