<div class="root-container">
  <page-title text="Purchase Requests" bi_icon="bi-clipboard-minus-fill" />
  <div class="text-end my-2">
    <button-component routerLink="/fae/purchase-request/create" text="Create Purchase Requesition" type="primary" />
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Client</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Date Created</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Hytec Power Inc</td>
        <td>{{ 100000 | currency: 'PHP':'symbol' }}</td>
        <td>Pending</td>
        <td>{{ today | date: 'longDate' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="my-2">
    <paginator [pageSize]="10"
               [currentPage]="1"
               [itemCount]="100"/>
  </div>
</div>
