<div class="root-container">
    <div class="section-title">Type</div>
    <table>
        <tr>
            <td class="data-label">Type of Request</td>
            <td class="data-value">Bidding Documents</td>
        </tr>
        <tr>
            <td class="data-label">Purpose</td>
            <td class="data-value">
                <ul>
                    <li>Client Visit</li>
                    <li>Occular Visit</li>
                    <li>Faculty Immersion</li>
                    <li>Delivery</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
