<div class="root-container ">
    <div class="group">
        <div class="group-title">The objectives related to the purpose of the Budget Request</div>
        <label>
            <input type="checkbox" name="" id="">
            <span>Boost Sales Campaigns</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Enhance Marketing Efforts</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Improve Client Engagement</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Increase Team Productivity</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Expand Market Reach</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Support Data-Driven Decisions</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Achieve Revenue Targets</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Measure and Optimize Performance</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Expand and Strengthen Networks</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Achieve Sales Goals</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Support Company's Vision</span>
        </label>
    </div>
    <div class="group">
        <div class="group-title">Why is the Budget necessary?</div>
        <label>
            <input type="checkbox" name="" id="">
            <span>Improve sales strategies</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Strengthen promotional activities</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Build better client relationships</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Maximize team efficiency</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Broaden target audience</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Make informed choices using data</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Meet financial goals</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Track and improve results.</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Grow industry connections.</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Meet sales target</span>
        </label>
        <label>
            <input type="checkbox" name="" id="">
            <span>Align with organizational goals</span>
        </label>
    </div>
</div>
