<div class="root-container">
  <form [formGroup]="form()!">
    <label>
      <div>Company Name</div>
      <select>
        <option></option>
      </select>
    </label>
    <label>
      <div>Address</div>
      <textarea cols="65" formControlName="client_address"></textarea>
    </label>
    <label>
      <div>Contact Person</div>
      <input type="text" formControlName="client_address"/>
    </label>
    <label>
      <div>Position</div>
      <input type="text" formControlName="client_position"/>
    </label>
    <label>
      <div>Position</div>
      <input type="text"/>
    </label>
    <label>
      <div>Contact Number</div>
      <input type="text"/>
    </label>
    <label>
      <div>Email</div>
      <input type="email"/>
    </label>
    <label>
      <div>Terms Of payment</div>
      <input type="text"/>
    </label>
  </form>
  <div class="d-flex justify-content-between my-2">
    <button-component text="Back" type="default" (click)="back.emit()"/>
    <button-component text="Next" type="primary" (click)="next.emit()"/>
  </div>
</div>
