@use "colors";

.root-container{
  background-color: light-dark( colors.$light-bg-foreground,colors.$dark-bg-foreground);
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px;
  height: 311px;
  width: 100%;
}
.section-title{
  color: light-dark(colors.$primary-color,#FFF);
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  
}

.data{
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  &-label{
    text-align: left;
  }
  &-value{
    text-align: left;

  }
}

input[readonly]{
  outline: none;
  box-shadow: none;
  border: none;
}

.inactiveEdit{
  border: none;
}

table{
  margin-left: 15px;
  th{
    font-weight: 500;
    color: colors.$primary-color;
  }
  td{
    height: 30px;
  }
  input{
    width: 100%;
  }
}