@use "colors";
@use "forms";

.root-container{
  background-color: colors.$bg-foreground;
  color: colors.$text-normal;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px;
  width: 100%;
}
.section-title{
  color: colors.$text-normal;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}
.data-label{
  text-align: left;
  padding-left: 7px;
  color: colors.$primary-color;
}
input[readonly]{
  outline: none;
  border: none;
  background-color: unset;
}
label{
  width: 100%;
  input{
    width: 100%;
  }
}