<div class="root-container">
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="section-title"><i class="bi bi-calendar3 mx-1"></i>Date & Time</div>
        <div><i (click)="toggleEdit()" class="bi bi-pencil-square"></i></div>
    </div>
    <form [formGroup]="form" class="my-2">
        <label>
            <div class="data-label">Date Needed</div>
            <input formControlName="date_needed" type="date" [readOnly]="!isEditable">
        </label>
        <label>
            <div class="data-label">Time Needed</div>
            <div> <input formControlName="time_needed" type="time" [readOnly]="!isEditable" ></div>
        </label>
        <label class="data-label">
            <div class="data-label">Expected Utilization</div>
            <div><input formControlName="date_utilization" type="date" [readOnly]="!isEditable"></div>
        </label>
    </form>
    @if (isEditable) {
        <div class="text-end">
            <button-component (click)="toggleEdit()"
                              [disabled]="form.invalid" text="Save" type="primary"></button-component>
        </div>
    }
</div>
