@use "colors";

.root-container{
  background-color: light-dark(colors.$light-bg-foreground,colors.$dark-bg-foreground);
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px;
  width: 100%;
  height: auto;
}
.section-title{
  color: light-dark(colors.$primary-color,#FFF);
  font-weight: bold;
  margin-bottom: 5px;
}
.title, i{

  font-weight: 500;
}
.data{
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  &-label{
    text-align: right;
    opacity: 0.5;
  }
  &-value{
    text-align: left;

  }
}
table{
  table-layout: auto;
  td{
    padding: 5px;
  }
}
.edit{
  margin-left: auto;
}

h6{
  font-size: 15px; color: #377161;
}

input[readonly]{
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}
.inactiveEdit{
  border: 1px solid #037354;
  border-radius: 5px;
}
.back{
  background-color: light-dark(#FFF,colors.$dark-bg-foreground);
}