<div class="root-container">
    <div class="section-title" >
        <i class="bi bi-card-checklist"></i>
        <div>Request Details</div>
        <div style="flex: 1;"></div>
        <i class="bi bi-pencil-square edit" (click)="toggleEdit()"></i>
    </div>
    <div class="my-2">
        <label>
            <div class="data-label">Type of Request</div>
            <select [disabled]="!isEditable">
                <option value="" disabled>Select Type</option>
                @for (p of request_types; track $index) {
                    <option [value]="p">{{p}}</option>
                }
            </select>
        </label>
        <label>
            <div class="data-label">Purpose</div>
            <ul>
                @for (p of purpose;track $index){
                    <li>{{ p }}</li>
                }
            </ul>
        </label>

    </div>
    @if (isEditable) {
        <div class="text-end">
            <button-component text="Save" type="primary"/>
        </div>
    }
</div>

