<div class="root-container">
    <div class=" head d-flex mb-3" >
        <i class="bi bi-card-checklist " style="margin-right: 10px;"></i>
        <div class="section-title">Request Details</div>
        <div class="edit">
            <i class=" bi bi-pencil-square"></i>
        </div>
    </div>
        <div style="padding-left: 24px;">
            <div class="mb-3">
                <h6 class="title" style="font-size: 15px;">Type of Budget Request</h6>
                <h4 style="font-size: 18px;"> {{ record().type }} </h4>
            </div>
            <div>
                <h6 class="title" tyle="font-size: 15px;">Purpose of the Budget Request</h6>
                <ul style="font-size: 18px;">
                    @for (item of purpose; track $index) {
                        <li>{{item}}</li>
                    }
                </ul>
            </div>
        </div>




</div>
