<div class="root-container">
    <div class=" head d-flex" >
        <i class="bi bi-clipboard mb-3" style="margin-right: 10px;"></i>
        <div class="section-title">Charging Details</div>
        <div class="edit">
            <i class=" bi bi-pencil-square"></i>
        </div>
    </div>
    <body>
        <div class="container mb-2">
            <h6>Title</h6>
            <h4 style="font-size: 18px;">Industrial Engineering Department</h4>
            <h6>School/Company</h6>
            <h4 style="font-size: 18px;">Quezon City University - San Bartolome Campus</h4>
            <h6>Address</h6>
            <h4 style="font-size: 18px;">Quirino Highway Barangay San Bartolome</h4>
        </div>
        <div class="data mb-3" style="padding: 20px;">
            <h6>Quotation Reference</h6>
            <h4 style="font-size: 18px;">Sample Data</h4>
            <h6>P.O. Number</h6>
            <h4 style="font-size: 18px;">Quezon City University - San Bartolome Campus</h4>
            <h6>P.O Amount</h6>
            <h4 style="font-size: 18px;">Quirino Highway Barangay San Bartolome</h4>
        </div>
        <div class="future row">
            <h6 class="mb-3"><strong>FOR FUTURE PROJECT</strong></h6>
            <div class="col-md-6">
                <h6>Confidence Level</h6>
                <h4 style="font-size: 18px;">90%</h4>
            </div>
            <div class="col-md-6">
                <h6>Expected Release of P.O</h6>
                <h4 style="font-size: 18px;">Q4 / 2025</h4>
            </div>
        </div>
    </body>
        
        

</div>
