<div class="root-container">
    <page-title text="Budget Requests" bi_icon="bi-wallet-fill"  />
    <div class="table-wrapper">

        <table>
            <caption>Requests</caption>
            <thead>
            <tr>
                <th>Request ID</th>
                <th>Requester</th>
                <th>Purpose</th>
                <th>Status</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr routerLink="/accounting/budget-requests/202501021">
                <td><a routerLink="/accounting/budget-requests/202501021">202501021</a></td>
                <td>Zach Madrilejos</td>
                <td>Proposal Discussion</td>
                <td>Pending</td>
                <td>Feb 02,2025 </td>
                <td>
                    <div class="row-controls">
                        <i class="bi bi-pencil-fill"></i>
                        <i class="bi bi-trash3-fill"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
