<div class="root-container">
    <page-title text="Budget Requests" bi_icon="bi-wallet-fill"  />
    <div class="table-wrapper">

        <table>
            <caption>Requests</caption>
            <thead>
            <tr>
                <th>Requester</th>
                <th>Purpose</th>
                <th>Status</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
