<div class="root-container">
  <div class="title">Request Details</div>
  <form [formGroup]="requestForm" (ngSubmit)="Submit()">
    <div class=" row d-flex">
      <div class="col-md-6">
        <label>Type of Budget Request</label>
      </div>
      <div  class="col-md-6">
        <select class="form-select form-select-sm" formControlName="budgetreq" (change)="budgetreqs($event)">
          <option value="" disabled selected>Open to select</option>
          <option value="" *ngFor="let option of option" [value]="option">{{option}}</option>
        </select>
        <div class="text-danger" *ngIf="requestForm.controls['budgetreq'].touched && requestForm.controls['budgetreq'].invalid">
          Budget request selection is required.
        </div>
      </div>
    </div>
    <div>
      <label>Purpose of Budget Request</label>
      <div class="row justify-content-start">
        <!-- First Half -->
        <div class="col-md-6" *ngFor="let item of checkarray.slice(1, checkarray.length / 2)">
          <label>
            <input type="checkbox" [formControlName]="item" (change)="onaddvalue($event, item)">
            {{ formatlabel(item) }}
          </label>
        </div>
      
        <!-- Second Half -->
        <div class="col-md-6" *ngFor="let item of checkarray.slice(checkarray.length / 2, checkarray.length)">
          <label>
            <input type="checkbox" [formControlName]="item" (change)="onaddvalue($event, item)">
            {{ formatlabel(item) }}
          </label>
        </div>
      </div>
      
    </div>

    <div class="d-flex flex-row justify-content-end my-3">
      <button-component text="Back" type="default"></button-component>
      <button-component text="Next" type="primary" [disabled]="!canProceed()"></button-component>
    </div>

  </form>
</div>
