<div class="root-container">
  <div class="title">Request Details</div>
  <table>
    <tr>
      <td>Type of budget Request</td>
      <td></td>
    </tr>
    <tr>
      <td>Purpose of Budget Request</td>
      <td></td>
    </tr>
    <tr>
      <td><label><input type="checkbox" name=""> Client Visit</label></td>
      <td><label><input type="checkbox" name=""> Occular Visit</label></td>
    </tr>
    <tr>
      <td><label><input type="checkbox" name=""> Client Meeting</label></td>
      <td><label><input type="checkbox" name=""> Delivery Location</label></td>
    </tr>
    <tr>
      <td><label><input type="checkbox" name=""> SDP/Product Presentation</label></td>
      <td><label><input type="checkbox" name=""> Repair</label></td>
    </tr>
    <tr>
      <td><label><input type="checkbox" name=""> Proposal Discussion and Submission</label></td>
      <td><label><input type="checkbox" name=""> Bidding</label></td>
    </tr>
    <tr>
      <td><label><input type="checkbox" name=""> Optimization Survey</label></td>
      <td><label><input type="checkbox" name=""> Commisioning and Installation/AST</label></td>
    </tr>
    <tr>
      <td><label><input type="checkbox" name=""> Client Prospecting</label></td>
      <td><label><input type="checkbox" name=""> Event/Exhibit/Convention</label></td>
    </tr>
  </table>
  <div class="d-flex flex-row justify-content-end my-3">
    <button-component text="Back" type="default" />
    <button-component text="Next" type="primary" />
  </div>
</div>
