@use "colors";
.root-container{
  outline: none;
  border:none;
  border-radius:10px;
  flex-direction: column;
  padding: 20px;
  width:400px;
  align-items: stretch;
  user-select: none;
  position: relative;
  background-color: colors.$bg-foreground;
  color: colors.$text-normal;
  &[open]{
    display: flex;
  }
  &[close]{
    display: none;
  }
}
dialog::backdrop{
  background-color:rgba(0,0,0,.7);
}
.title{
  font-weight:bold;
  font-size:20px;
  text-align:center;
}
.message{
  padding:5px;
  text-align:start;
  white-space: pre-wrap;
  margin: 5px 0;
}
.button-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin: 5px 0;
  *{
    margin:2px;
  }
}
.close-button{
  position:absolute;
  top:15px;
  right:20px;
  cursor:pointer;
  &:hover{
    color: colors.$primary-color;
  }
}
