<div class="root-container"
     [style.height.px]="height_px()"
     [style.width.px]="width_px()">
  @if (!file){
    <i (click)="file_input.click()" class="bi bi-cloud-upload-fill"></i>
    <div (click)="file_input.click()" class="pointer"><span class="text">Drag and drop to upload or </span> <span class="text-button">Browse Files</span></div>
    <input type="file"
           style="display: none"
           #file_input
           (change)="onFileSelected($event)"
           [accept]="accept()">
  }
  @if (file){
    <div class="selection">
      <i class="file-icon bi bi-filetype-pdf"></i>
      <span class="name">{{ file.name }}</span>
      <i class="remove bi bi-x"></i>
    </div>
  }
</div>
