<div class="root-container">
  <stepper-component [items]="steps" [current_index]="page()"/>
  <div class="d-flex justify-content-center">
    @switch (page()){
      @case(0) {  <request-details      [form]="form_request_details" (onNext)="next()" [(purpose)]="purpose"/>  }
      @case(1) {  <request-date-time    [form]="form_date_time" (onNext)="next()" (onBack)="back()" />  }
      @case(2) {  <charging-details     [form]="form_project_details" (onNext)="next()" (onBack)="back()" />  }
      @case(3) {  <request-budget />  }
      @case(4) {  <request-manpower />  }
      @case(5) {  <app-attachments/>  }
      @case(6) {  <app-request-review/>  }
    }
  </div>

  <div class="d-flex flex-row justify-content-between">
    <button-component (click)="back()" text="Back" type="default" bi_icon="bi-caret-left-fill" />
    <button-component (click)="next()"
                      text="Next"
                      type="primary"
                      bi_icon="bi-caret-right-fill"
                      bi_position="right"/>
  </div>
</div>
