@use "colors";
@use "forms";

.root-container{
    display: inline-block;
    margin: 20px 0;
    color: colors.$text-normal;
    background-color: colors.$bg-foreground;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    width: 2550px;
    height: 3300px;
    margin-left: 125px;
    zoom: 40%;
  }
  .title{
    font-weight: bold;
    font-size: 60px;
    color: colors.$text-normal;
    margin-bottom: 20px;
  }

  caption{
    caption-side: top;
  }

  td{
    padding-left: 80px;
    background-color: rgba(238, 238, 238, 1);
  }

  th{
    padding-left: 80px;
    background-color: rgba(160, 203, 176, 0.5);
  }
