<div class="root-container">
    <header>
        <div>
            <img style="height: 342px;" src="assets/images/common/logos/hytec_power.png" alt="">
            <span style="font-size: 30px; float: right;">Be industry 4.0 Ready</span>
            <hr>
        </div>
    </header>
    <div class="title">
        BUDGET REQUEST
    </div>

    <div style=" font-size: 40px;">
        

        <table class="table">
            <caption>Request</caption>
            <tr >
                <td style="height: 30px; padding: 0; background-color: green;" colspan="2"></td>
            </tr>
            <tr>
                <th style="width: 30%;">Type of Request</th>
                <td> TPC</td>
            </tr>
            <tr>
                <th>Purpose of the Request</th>
                <td>Client Visit</td>
            </tr>
        </table>

        <table class="table">
            <caption>Date & Time</caption>
            <tr >
                <td style="height: 30px; padding: 0; background-color: green;" colspan="2"></td>
            </tr>
            <tr>
                <th style="width: 30%;">Date needed</th>
                <td>March</td>
            </tr>
            <tr>
                <th>Time needed</th>
                <td>5:00</td>
            </tr>
            <tr>
                <th>Expected Utilization</th>
                <td>Sample</td>
            </tr>
        </table>

        <table class="table">
            <caption>Charging Information</caption>
            <tr >
                <td style="height: 30px; padding: 0; background-color: green;" colspan="2"></td>
            </tr>
            <tr>
                <th style="width: 30%;">Title</th>
                <td>Industrial Engineering</td>
            </tr>
            <tr>
                <th>School/Company</th>
                <td>Quezon City Univ</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>Novaliches</td>
            </tr>
            <tr>
                <th>Quotation Reference</th>
                <td>Sample</td>
            </tr>
            <tr>
                <th>P.O. Number</th>
                <td>PO-2025</td>
            </tr>
            <tr>
                <th>P.O. Amount</th>
                <td>99</td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th style="background-color: rgb(177, 242, 220); text-align: center;" colspan="2">Future Project</th>
            </tr>
            <tr>
                <th style="width: 30%;">confidence Level</th>
                <td>70%</td>
            </tr>
            <tr>
                <th>Expected Release of P.O</th>
                <td>Q4/2024</td>
            </tr>
        </table>

        <table class="table">
            <caption>Budget</caption>
            <tr >
                <td style="height: 30px; padding: 0; background-color: green;" colspan="5"></td>
            </tr>
            <tr>
                <th>PARTICULARS</th>
                <th>BUDGET PER DAY</th>
                <th>QTY</th>
                <th>DAYS</th>
                <th>AMOUNT</th>
            </tr>
            <tr>
                <td>Hotel Accomodation</td>
                <td>27000</td>
                <td>2</td>
                <td>2</td>
                <td>20000</td>
            </tr>
            <tr>
                <th colspan="4">OTHERS</th>
                <th>AMOUNT</th>
            </tr>
            <tr>
                <td colspan="4">Emergency</td>
                <td>24000</td>
            </tr>
        </table>

        <table class="table"> 
            <tr>
                <th>Releasing Instructions</th>
                <th>Bank</th>
                <th>Account Name</th>
                <th>Account Numer</th>
            </tr>
            <tr>
                <td>Direct deposit</td>
                <td>RCBC</td>
                <td>Julius Reco</td>
                <td>231204120</td>
            </tr>
        </table>

        <table class="table">
            <caption>Manpower</caption>
            <tr >
                <td style="height: 30px; padding: 0; background-color: green;" colspan="2"></td>
            </tr>
            <tr>
                <th style="width: 50%;">NAME/s</th>
                <th>ROLE/s</th>
            </tr>
            <tr>
                <td>Julius Meor</td>
                <td>Front-end Dev</td>
            </tr>
            <tr>
                <td>Five Meor</td>
                <td>Front-end Dev</td>
            </tr>
        </table>

        <table>
            <caption>Attachments</caption>
        </table>

    </div>
    
</div>