<div class="root-container">
    <div class="title">Attach the files needed</div>
    <div>
        <p style="font-size: 14px;">
            <span class="active">NOTE:</span>
            <span style="opacity: .7;"> Set the file name based on the required files.</span>
        </p>
    </div>
    <div class="container d-flex flex-row">
        <div class="group">
            <div class="columnLeft">
                <div style="border-top-left-radius: 5px;" class="title py-2">Upload these necessary files</div>
                <div class="d-flex flex-column py-5 mx-1 my-1">
                    <div class="format">
                        test
                    </div>
                    <div class="format">
                        test
                    </div>
                    <div class="format">
                        test
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="columnRight">
                <div style="border-top-right-radius: 5px; float: right;" class="title py-2">Upload these necessary files</div>
                <div class="d-flex flex-column px-5">
                </div>
            </div>
            
        </div>
    </div>
    <div class="d-flex flex-row justify-content-end my-3">
        <button-component text="Back" type="default" />
        <button-component text="Next" type="primary" />
    </div>
</div>