<div class="root-container">
    <div style="display: flex; flex-direction: column;">
        <div class="title">Attach the files needed</div>
        <div>
            <div style="font-size: 14px;">
                <span class="active">NOTE:</span>
                <span style="opacity: .7;"> Set the file name based on the required files.</span>
            </div>
        </div>
    </div>
    <div class="table-container my-3">
      <table>
        <thead>
        <tr>
          <th>Upload these necessary files</th>
          <th>Attached Files</th>
        </tr>
        </thead>
        @for (i of requirements;track $index){
          <tr>
            <td>
              <div class="requirement">
                <div class="requirement-icon">
                  <i [class]="['bi',i.bi_icon]"></i>
                </div>
                <div class="requirement-details">
                  <div class="requirement-name">{{ i.name }}</div>
                  <div class="format">
                    <span class="label">File format:</span>
                    <span class="items">
                      @for (ext of i.extensions;track $index){
                        {{ ext }}
                      }
                    </span>
                  </div>
                </div>
              </div>
            </td>
            <td><file-upload  /></td>
          </tr>
        } @empty {
          <tr>
            <td colspan="2"><div style="width: 600px;text-align: center; margin: 10px 0;">No Attachments Required</div></td>
          </tr>
        }
      </table>
    </div>
    <div class="d-flex flex-row justify-content-end my-3">
      <button-component (click)="back()" text="Back" type="default" />
      <button-component (click)="onNext.emit()" text="Next" type="primary" />
    </div>
</div>
