<div class="root-container">
    <stepper-component [items]="steps"/>
    @switch (page()){
        @case(0) {  <requester-details />  }
        @case(1) {  <request-objectives/>  }

    }


    <div class="d-flex flex-row justify-content-between">
        <button-component (click)="next()" text="Back" type="default" bi_icon="bi-caret-left-fill" />
        <button-component (click)="next()"
                          text="Next"
                          type="primary"
                          bi_icon="bi-caret-right-fill"
                          bi_position="right"/>
    </div>
</div>
