<div class="root-container">
  <div class="section-title">Project Details</div>

  <div class="row">
    <div class="col-3">
      <div class="data">
        <div class="data-value">Sample Project</div>
        <div class="data-label">Project Name</div>
      </div>
    </div>
    <div class="col-3">
      <div class="data">
        <div class="data-value">{{ 100000 | currency: 'PHP':'symbol' }}</div>
        <div class="data-label">PO amount</div>
      </div>
    </div>
    <div class="col-3">
      <div class="data">
        <div class="data-value">08-08-2025</div>
        <div class="data-label">Date received</div>
      </div>
    </div>
    <div class="col-3">
      <div class="data">
        <div class="data-value">08-08-2025</div>
        <div class="data-label">Customer PO Ref # / NOA / NTP</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="data">
        <div class="data-value">2025FFFF</div>
        <div class="data-label">Quotation Reference No.</div>
      </div>
    </div>
    <div class="col-3">
      <div class="data">
        <div class="data-value">08/08/2025</div>
        <div class="data-label">Advance PR (Expected date of release) </div>
      </div>
    </div>
    <div class="col-3">
      <div class="data">
        <div class="data-value">0</div>
        <div class="data-label">Commited # of days for inspection (ps) </div>
      </div>
    </div>
  </div>

</div>
