
.root-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content{
  display: flex;
  flex-direction: row;
  flex:1;
  background-color: #EEEEEE;
}
.main{
  flex: 1;
  padding-top: 20px;
}