<div class="root-container">
  <div class="head d-flex mb-2" >
    <i class="bi bi-link " style="margin-right: 10px;"></i>
    <div class="section-title">Attachments</div>
    <div class="edit">
        <i class=" bi bi-pencil-square" style="cursor: pointer;" (click)="onedit()"></i>
    </div>
  </div>
  <table class="table rounded-4 overflow-hidden table-bordered" style="table-layout: fixed;  " [ngClass]="{'table-bordered': !isEditable, 'inactiveEdit': isEditable }">
    <thead>
      <tr style="text-align: center;">
        <th style="color: #377161; width: 50%;">Necessary Files</th>
        <th style="color: #377161; width: 50%;">Attached Files</th>
        <th  *ngIf="isEditable" style="color: #377161; width: 10%;"></th>
      </tr>
    </thead>
    <tbody>
      @for (item of record().attachments; track $index) {
        <tr>
          <td style=" word-wrap: break-word; display: flex; align-self: center;" >
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <i class="bi bi-file-earmark-fill" style="font-size: 40px; color: #A0CBB0; background-color: white; border-radius: 5px;"></i>
            </div>
            <div class="col-md-8" style="margin-top: 10px;">
                <p style="font-size: 15px;"><strong> {{item.name}} </strong></p>
                <p >File format: jpg, jpeg, or png.</p>
            </div>
          </td>
          <td style=" word-wrap: break-word;">
            
            <tr style=" word-wrap: break-word; display: flex; align-self: center;">

                <div class="col-md-2">
                    <i [class]="['bi',getExt(item.file.ext)]" style="font-size: 40px; color: #A0CBB0; background-color: white; border-radius: 5px;"></i>
                    </div>
                <div class="col-md-10">
                    <p style="font-size: 15px;"> {{ item.file.original_filename }} </p>
                    <p> {{ item.file.size | fileSize }} </p>
                </div>
            </tr>
          </td>
          <td style="width: 0;" >
                <i *ngIf="isEditable" class="bi bi-x" style="font-size: 28px;color: #377161;"></i>
        </td>
        </tr>
      }
    </tbody>
  </table>
</div>
