<div class="root-container">
    <div class=" head d-flex mb-2" >
        <i class="bi bi-link " style="margin-right: 10px;"></i>
        <div class="section-title">Attachments</div>
        <div class="edit">
            <i class=" bi bi-pencil-square"></i>
        </div>
    </div>
    <body>
        <div class="container ">
            <table class="table">
                <thead>
                  <tr>
                      <th>Necessary Files</th>
                      <th >Attached Files</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-2 image">
                                <i style="font-size:40px; color: #A0CBB0; background-color: white;   border-radius:5px ;" class="bi bi-file-earmark-image"></i>
                            </div>
                            <div class="col-md-10">
                                <h6 >Course Outline</h6>
                                <span style="font-size: 12px;">File format: jpg, jpeg, or png.</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-2 image">
                                <i style="font-size:40px; color: #A0CBB0; background-color: white;   border-radius:5px ;" class="bi bi-file-earmark-image"></i>
                            </div>
                            <div class="col-md-10">
                                <h6 >Course Outline.jpg</h6>
                                <span style="font-size: 12px;">File size: 500mb.</span>
                            </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            
        </div>
    </body>
        
        

</div>
