<div class="root-container">
  <form>
    <label>
      <div>Date Requested</div>
      <input type="date" name="" id="">
    </label>
    <label>
      <div>Date Needed</div>
      <input type="date" name="" id="">
    </label>
    <label>
      <div>Name of Supplier / Principal</div>
      <input type="text" name="" id="">
    </label>
  </form>
  <div class="d-flex justify-content-between my-2">
    <button-component text="Back" type="default" (click)="back.emit()"/>
    <button-component text="Next" type="primary" (click)="next.emit()"/>
  </div>
</div>
