@use "colors";
@use "forms";

.group{
  background-color: light-dark(colors.$light-bg-foreground,colors.$dark-bg-foreground);;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  min-width: 450px;
}
.group-title{
  margin-bottom: 20px;
  font-weight: bold;
}

label{
  margin: 5px 10px;
}



input{
  width: 100%;
}
