<div class="root-container d-flex flex-row">
    <div class="group">
        <div class="group-title">When is the Budget needed?</div>
        <div class="d-flex flex-column">
            <label class="my-2">
                <div>Date Needed</div>
                <input type="date" name="" text=""/>
            </label>
            <label class="my-2">
                <div>Time Needed</div>
                <input type="time" name="" />
            </label>

            <label class="my-2">
                <div>Expected Utilization</div>
                <input type="text" name="" />
            </label>
        </div>
        <div class="d-flex flex-row justify-content-end my-5">
            <button-component text="Back" type="default" />
            <button-component text="Next" type="primary" />
        </div>
    </div>
</div>
