@use "colors";

.root-container{
  background-color: light-dark(colors.$light-bg-foreground,colors.$dark-bg-foreground);
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px;
  height: 532px auto;
  width: 100%;

}
.section-title{
  color: light-dark(colors.$primary-color,#FFF);
  font-weight: bold;
  margin-bottom: 5px;
}
.data{
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  &-label{
    text-align: right;
    opacity: 0.5;
  }
  &-value{
    text-align: left;

  }
}
.edit{
  margin-left: auto;
}
h6{
  font-size: 15px; color: #377161;
}
.container {
    height: 220px auto;
    border-radius: 10px;
    border: 1px solid #E6E6E7;
    border-color:colors.$border-color;
    background-color : colors.$bg-background;
}
tr, th, td{
  background-color : light-dark(#E6E6E7,#212121);
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  border-bottom: none;
}
th{
    color: #377161;
}

.others{
    height: 83px auto;
    border-radius: 10px;
    border: 1px solid #E6E6E7;
    background-color : colors.$bg-background;
    color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
    border-color:colors.$border-color;
}
