@use "colors";

.root-container{
  background-color: light-dark(colors.$light-bg-foreground,colors.$dark-bg-foreground);
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px;
  width: 100%;
  height: auto;
}
.section-title{
  color: light-dark(colors.$primary-color,#FFF);
  font-weight: bold;
  margin-bottom: 5px;
}
.data{
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  &-label{
    text-align: right;
  }
  &-value{
    text-align: left;

  }
}
.table-container{
  width: 100%;
  height: 70%;
  overflow-y: auto;
}
.employee-image{
  height: 70px;
  width: 70px;
}

.table-container::-webkit-scrollbar, .td::-webkit-scrollbar{
  display: none;
}
  
.inactiveEdit{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    th{
        background-color: #A0CBB0;
    }
    td{
        background-color: #FFFFFF;
        i.action{
          &-del{
            font-size: 20px;
            cursor: pointer;
            color: red;
          }
        }
        input{
          box-shadow: none;
          border: none;
        }
    }
}

.btn{
  border-color: colors.$primary-color;
  color: colors.$primary-color;
  border-radius: 50px;
}

table{
    table-layout: auto;
    width: 100%;
    border-radius: 20px;
    border-color:colors.$border-color;
    background-color : colors.$bg-background;
    td{
        max-width: 200px;
        color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
        text-align: center;
        height: 39px ;
    }
    th{
        height: 43px;
        font-weight: 500;
        text-align: center;
        color: #377161;
    }
}