@use "colors";

.root-container{
  background-color: light-dark(colors.$light-bg-foreground,colors.$dark-bg-foreground);
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px;
  width: 100%;
  height: auto;
}
.section-title{
  color: light-dark(colors.$primary-color,#FFF);
  font-weight: bold;
  margin-bottom: 5px;
}
.data{
  color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
  &-label{
    text-align: right;
  }
  &-value{
    text-align: left;

  }
}
.table-container{
  height: 70%;
  overflow-y: auto;
}


.table-container::-webkit-scrollbar{
  display: none;
}

input{
    background-color: inherit;
    border-color: light-dark(colors.$dark-bg-foreground);
    border-width: thin;
    border-radius: 5px;
}

input[readonly]{
    outline: none;
    box-shadow: none;
    border: none;
    width: 100%;
  }
  
.inactiveEdit{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    th{
        width: 50%;
        background-color: #A0CBB0;
        border-color: rgba(255, 255, 255, 0.5)
    }
    td{
        background-color: #FFFFFF;
        border-color: rgba(230, 230, 230, 0.5);
        i.action{
          &-del{
            cursor: pointer;
            color: red;
          }
          &-add{
            cursor: pointer;
            color: colors.$primary-active;
          }
        }
        input{
          border: 1px solid rgba(230, 230, 230, 1);
        }
    }
}

table{
    table-layout: auto;
    white-space: nowrap;
    width: 100%;
    border-radius: 20px;
    border-color:colors.$border-color;
    background-color : colors.$bg-background;
    
    
    td{
       border-bottom: none;
       color: light-dark(colors.$light-text-normal-color,colors.$dark-text-normal-color);
        text-align: center;
        height: 39px ;
    }
    th{
        height: 43px;
        font-weight: 500;
        text-align: center;
        color: #377161;
        border-bottom: none;
    }
}