<div class="root-container">
    <div style="display: flex; flex-direction: column;">
        <div class="title my-0">Who are the individuals involved for this Budget Request?</div>
        <div>
            <div style="font-size: 15px;">
                <span class="active">NOTE:</span>
                <span class="light"> This is for events/exhibits only. Disregard this if not applicable.</span>
            </div>
        </div>
        <div style="max-height: 360px;">
            @if (activeManpower.length === 0 ) {
                <div style="height: 360px;" class="createManpower mt-5">
                    <button-component (click)="openModal()" text="Create Manpower" type="primary" />
                </div>
            } @else {
                <div style="height: 300px;">  
                    <div>
                        <div style="font-weight: 300;" class="title my-0">Manpower ({{manForm.controls['activeArray'].value.length}})</div>
                    </div>
                    <div style="display: flex; justify-content: space-between;" class="my-2">
                        <div>
                            <input class="search" type="text" placeholder="Search employee name" [(ngModel)]="search2">
                            <button-component [borderRadius]="'round'" style="float: end;"  text="Search" type="primary" (click)="filterManpower2()"></button-component>
                        </div>
                        <button-component bi_icon="bi-plus-lg" [borderRadius]="'round'" style="float: right;" (click)="openModal()" text="Add People" type="primary" />
                    </div>
                    <div style="display: flex; flex-wrap: wrap; overflow: scroll; gap: 5px 43px; max-height: 250px; width: 100%;">
                        @for (item of filteredManpower2; track item) {
                            <div class="roles pt-2">
                                <div>
                                    <div>
                                        <div>
                                            <img class="powerImage" src={{item.img}} alt="">
                                        </div>
                                        <div style="width: 145px;" class="col-1"> 
                                            <div style="max-width: 145px; max-height: 22.5px; font-size: 15px; overflow: hidden;"> {{item.name}} </div>
                                            <div style="font-size: 12px;"> {{item.role}} </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                        }
                    </div>
                </div>
            }

        </div>

        <div class="d-flex flex-row justify-content-end my-5">
            <button-component text="Back" type="default" />
            <button-component (click)="onSubmit()" text="Next" type="primary" [disabled]="manForm.invalid"/>
        </div>

            <app-modal 
            [showModal]="showModal" 
            [modalWidth]="'510px'" 
            [modalHeight]="'492px'"
            (closeModal)="closeModal()"
            [showModal]="showModal" (closeModal)="closeModal()">
                <button (click)="closeModal()" style="float: right; border: none;"><i class="bi bi-x-lg"></i></button>
                <div>
                    <div class="title pb-4 my-0">Add People</div>
                </div>
                <div class="my-2">
                    <input (keydown)="onKeydown($event)" class="search" type="text" placeholder="Search employee name" [(ngModel)]="search">
                    <button-component (click)="filterManpower()" borderRadius="round" style="float: right;"  text="Search" type="primary"></button-component>
                </div>

            <form [formGroup]="manForm">
                <div style="display: flex; flex-wrap: wrap; overflow: scroll; gap: 5px; height: 250px; width: 100%;">
                    @for (i of filteredManpower; track i) {
                        <div>
                            <div (click)="toggleActive(i.name)" [class.active]="i.active" class="people form pt-2 px-0">
                                <div style="width: 100%;">
                                    <img src={{i.img}} alt="">
                                    <br>
                                    <div>
                                        <div style="max-width: 145px; max-height: 22.5px; font-size: 15px; overflow: hidden;">{{i.name}}</div>
                                        <div style="font-size: 12px;">{{i.role}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="mt-4">
                    <span class="light" style="color: rgb(55,113,97); font-weight: normal;"> {{activeCount.length}} Employees selected.</span>
                    <button-component (click)="save()" text="Save" style="float: right;" type="primary"></button-component>
                </div>
            </form>
        </app-modal>
    </div>
</div>
