<div class="root-container">
    <page-title text="Budget Requests" bi_icon="bi-wallet-fill"  />
    <button-component routerLink="/employee/budget-requests/create" text="Create Request" type="primary" bi_icon="bi-plus-lg" />
    <div class="table-wrapper my-2">
        <table>
            <thead>
            <tr>
                <th>Request ID</th>
                <th>Requester</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
              @if (loading){
                <tr>
                  <td colspan="6"><div class="text-center m-3"><loader-bouncing-balls/></div> </td>
                </tr>
              }
              @if (!loading) {
                @for (i of items;track i.uuid){
                  <tr [routerLink]="'/employee/budget-requests/'+i.uuid">
                    <td><a [routerLink]="'/employee/budget-requests/'+i.uuid">{{ i.request_reference }}</a></td>
                    <td>{{ i.user.firstname | titlecase }} {{ i.user.lastname | titlecase }}</td>
                    <td>Pending</td>
                    <td>{{ i.budget_total | currency: 'PHP':'symbol' }}</td>
                    <td>{{ i.created_at | date: 'medium' }}</td>
                    <td>
                      <div class="row-controls">
                        <i class="bi bi-pencil-fill"></i>
                        <i class="bi bi-trash3-fill"></i>
                      </div>
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="6"><div class="text-center">No items</div></td>
                  </tr>
                }
              }
            </tbody>
        </table>
    </div>
</div>
