@use "tables";
@use "colors";

.root-container{

  color: colors.$text-normal;
}

.row-controls{
  display: flex;
  flex-direction: row;
  justify-content: end;
  .bi{
    margin: 2px 5px;
    font-size: 13px;
    cursor: pointer;
  }
}
tbody tr{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: royalblue;
}
