
$light-text-bold-color:#212121;
$light-text-normal-color:#424242;

$light-bg-foreground: #FFF;
$light-bg-background: #EEEEEE;


$dark-text-bold-color:#010101;
$dark-text-normal-color:#9E9E9E;

$dark-bg-foreground: #424242;
$dark-bg-background: #212121;

$primary-color: #377161;
$primary-active:#259B50;
$primary-disabled:#259B50;

$border-color: light-dark(rgba(0,0,0,0.1),rgba(255,255,255,0.1));
$bg-background : ligth-dark(#EEEEEE,#212121);
$bg-foreground : ligth-dark(#FFF,#424242);
$text-normal : ligth-dark(#424242,#9E9E9E);
$text-bold : ligth-dark(#212121,#010101);
