
$light-text-bold-color:#212121;
$light-text-normal-color:#424242;

$light-bg-foreground: #FFF;
$light-bg-background: #EEEEEE;


$dark-text-bold-color:#FAFAFA;
$dark-text-normal-color:#9E9E9E;

$dark-bg-foreground: #424242;
$dark-bg-background: #212121;

$primary-color: #377161;
