@import "colors";
table{
  table-layout: fixed;
  width: 100%;
  caption-side: top;
  padding: 10px;
  transition: all 1s;
}
caption{
  font-size: 20px;
  font-weight: bold;
  color: light-dark($light-text-bold-color,$dark-text-bold-color);
  padding: 20px 5px;
}
th{
  color: light-dark($light-text-bold-color,$dark-text-bold-color);
  padding: 10px;
}
td{
  padding: 10px;
  color: light-dark($light-text-normal-color,$dark-text-normal-color);
}
tbody tr:hover{
  background-color: rgba(0,0,0,.05);
}
.table-wrapper{
  padding: 30px;
  border-radius: 20px;
  background-color: light-dark(#FFF,$dark-bg-foreground);
}
