@use "colors";
table{
  table-layout: fixed;
  width: 100%;
  caption-side: top;
  padding: 10px;
  transition: all 1s;
}
caption{
  font-size: 20px;
  font-weight: bold;
  color: colors.$text-normal;
  padding: 20px 5px;
}
th{
  color: colors.$text-bold;
  padding: 10px;
}
td{
  padding: 10px;
  color: colors.$text-normal;
}
tbody tr:hover{
  background-color: rgba(0,0,0,.05);
}
.table-wrapper{
  padding: 30px;
  border-radius: 20px;
  background-color: colors.$bg-foreground;
}
