@use "colors";

.root-container{
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: colors.$bg-background;
  box-sizing: border-box;
  padding: 20px 3px 2px 3px;
  z-index: 5;
  transition: all 1s;
  justify-content: stretch;
}
