@import "colors";

.root-container{
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: light-dark($light-bg-background,$dark-bg-background);
  box-sizing: border-box;
  padding: 20px 3px 2px 3px;
  z-index: 5;
  transition: all 1s;
}
a.item{
  padding: 10px 15px;
  box-sizing: border-box;
  color: light-dark($light-text-normal-color,$dark-text-normal-color);
  text-decoration: none;
  font-size: 14px;
  margin: 2px;
  border-radius: 10px;
  .bi{
    margin-right: 20px;
  }
  &.active{
    color: light-dark($light-text-bold-color,$dark-text-bold-color);
  }
  &.active, &:hover{
    background-color: light-dark($light-bg-foreground,$dark-bg-foreground);
  }
  &.active .icon-active{
    display: inline-block;
  }
  &.active .icon{
    display: none;
  }
  .icon{
    display: inline-block;
  }
  .icon-active{
    display: none;
  }

}