@import "colors";

.root-container{
  background-color: light-dark($light-bg-foreground,$dark-bg-foreground);
  color: light-dark($light-text-normal-color,$dark-text-normal-color);
  padding: 20px;
  border-radius: 20px;
}
.section-title{
  color: light-dark($light-text-bold-color,$dark-text-bold-color);
  font-weight: bold;
  margin: 5px 0;
}
.data{
  color: light-dark($light-text-normal-color,$dark-text-normal-color);
  &-label{
    text-align: right;
    opacity: 0.5;
  }
  &-value{
    text-align: left;

  }
}
table{
  table-layout: auto;
  width: 100%;
  td{
    padding: 5px;
  }
}