<div class="root-container">
    <div class="section-title">User Details</div>
    <table>
        <tr>
            <td class="data-label">Requester</td>
            <td class="data-value">Zach Madrilejos</td>
        </tr>
        <tr>
            <td class="data-label">Position</td>
            <td class="data-value">Senior Full Stack Web Developer</td>
        </tr>
        <tr>
            <td class="data-label">Department</td>
            <td class="data-value">IT</td>
        </tr>
        <tr>
            <td class="data-label"></td>
            <td class="data-value"></td>
        </tr>
        <tr>
            <td class="data-label"></td>
            <td class="data-value"></td>
        </tr>
    </table>
</div>
