<div class="root-container">
  <div class="section-title">Client Details</div>
  <div class="row">
    <div class="col-6">
      <div class="data">
        <div class="data-value">Hytec Power Inc</div>
        <div class="data-label">Company</div>
      </div>
      <div class="data">
        <div class="data-value">2T Cruzville subdivision</div>
        <div class="data-label">Customer Address</div>
      </div>
      <div class="data">
        <div class="data-value">Juan Dela Cruz</div>
        <div class="data-label">Contact Person</div>
      </div>
      <div class="data">
        <div class="data-value">Web Developer</div>
        <div class="data-label">Position</div>
      </div>
    </div>
    <div class="col-6">
      <div class="data">
        <div class="data-value">+639167501675</div>
        <div class="data-label">Contact Number</div>
      </div>
      <div class="data">
        <div class="data-value"> zach.madrilejos&#64;gmail.com </div>
        <div class="data-label">Email Address</div>
      </div>
      <div class="data">
        <div class="data-value">Cash</div>
        <div class="data-label">Terms of Payment</div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-3">


    </div>

    <div class="col-3">


    </div>

    <div class="col-3">


    </div>

    <div class="col-3">

    </div>
  </div>
</div>
