<div class="root-container">
  <div class="align-self-center w-50">
    <stepper-component [items]="steps" [current_index]="1"/>
  </div>
  <div class="row">
    <div class="col-12">
      <pr-project-details/>
    </div>
  </div>
  <div class="row">
    <div class="col-6"><pr-client /></div>
    <div class="col-6"><pr-fae /></div>
  </div>
  <div class="row">
    <div class="col-12">
      <pr-items/>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <pr-attachments/>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <pr-comments />
      </div>
  </div>
</div>
