<div class="root-container">
  <div class="section-title">Fae Details</div>

  <div class="row">
    <div class="col-3">
      <div class="data">
        <div class="data-value">Sample Project</div>
        <div class="data-label">Project Name</div>
      </div>
    </div>
    <div class="col-3">
      <div class="data">
        <div class="data-value">John Smith</div>
        <div class="data-label">FAE</div>
      </div>
    </div>
    <div class="col-3">
      <div class="data">
        <div class="data-value">08-08-2025</div>
        <div class="data-label">Date received</div>
      </div>
    </div>
    <div class="col-3">
      <div class="data">
        <div class="data-value">{{ 100000 | currency: 'PHP':'symbol' }}</div>
        <div class="data-label">Date received</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>

</div>
