<div class="root-container">
  <div class="section-title">Fae Details</div>
  <div class="row">
    <div class="col-6">
      <div class="data">
        <div class="data-value">John Smith</div>
        <div class="data-label">Name</div>
      </div>
      <div class="data">
        <div class="data-value">LLL</div>
        <div class="data-label">Division</div>
      </div>
    </div>
    <div class="col-6">
      <div class="data">
        <div class="data-value">email&#64;email.com</div>
        <div class="data-label">FAE</div>
      </div>
      <div class="data">
        <div class="data-value">+639167501675</div>
        <div class="data-label">mobile</div>
      </div>
    </div>
  </div>
</div>
