<div class="table-wrapper my-2">
  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Qty</th>
      <th>Unit</th>
      <th>Model</th>
      <th>Description</th>
      <th>Remarks</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Item A</td>
        <td>0</td>
        <td>1</td>
        <td>abc123</td>
        <td>--</td>
        <td>--</td>
        <td>{{ 2000| currency : 'PHP':'symbol'   }}</td>
      </tr>
<!--      <tr>-->
<!--        <td colspan="7" class="text-center">No items</td>-->
<!--      </tr>-->
    </tbody>
  </table>
</div>
