<div class="root-container group">
    <div class="group-title">Charge to : </div>
    <label>
        <div>Client Name:</div>
        <div><input type="text" name="" ></div>
    </label>
    <label>
        <div>PO number / Quotation Reference </div>
        <div><input type="text" name=""></div>
    </label>
    <label>
        <div>Remaining Contingency as of date of request:</div>
        <div><input type="text" name="" id=""></div>
    </label>
    <div>Releasing Instructions</div>
    <div>
        <label><input type="radio" name="" /> Cash </label>
        <label><input type="radio" name="" /> Deposit to my bank account </label>
        <label><input type="radio" name="" /> Direct deposit to client  </label>
        <label><input type="radio" name="" /> Others </label>
    </div>
</div>
